@media (max-width: 768px) {
  button.checkoutButton,
  button.shoppingButton,
  button.shoppingButton-continue {
    font-size: 10px;
  }

  div.itemHeader,
  .unitPriceHeader,
  .subtotalHeader,
  .quantityHeader,
  .theTotalText,
  .theTotalAmount {
    font-size: 12px;
  }
}

.cartHeaderSection {
  margin-top: 2%;
  margin-right: 3px;
  margin-left: 3px;
}
.itemHeader,
.unitPriceHeader,
.subtotalHeader,
.quantityHeader {
  font-weight: bold;
}
.productImage {
  width: 80px;
  height: 80px;
  margin-right: 0px;
  padding-right: 0px;
}
.productAndNameSection {
  background-color: "#eeeeee";
}
.unitPriceHeader,
.subtotalHeader,
.quantityHeader {
  text-align: center;
}

.theTotalText {
  font-weight: bold;
  text-align: right;
}
.theTotalAmount {
  text-align: center;
  padding-right: 10px;
}
.theTotalSection {
  margin-top: 3%;
}
.checkoutButton {
  font-size: 15px;
  background-color: forestgreen;
  line-height: 15px;
  border-style: none;
  color: white;
  padding: 3px 3px;
}
.checkoutButtonContainer,
.shoppingButtonContainer-continue {
  text-align: right;
}

.shoppingButton,
.shoppingButton-continue {
  font-size: 15px;
  line-height: 15px;
  border-style: none;
  padding: 3px 3px;
  background-color: white;
  box-shadow: 0px 0px 1px 0.5px rgba(20, 17, 17, 0.734);
}

.bottomSection {
  height: fit-content;
  width: inherit;
  padding: 2% 0.1%;
  box-shadow: 0px 0px 4px 1px rgba(20, 17, 17, 0.734);
  margin: 1% 0% 8% 0%;
}
