@media (max-width: 768px) {
  .productUnitPrice,
  .productSubtotal,
  .productQuantityInput {
    font-size: 11px;
  }
  .productName {
    font-size: 11px;
    text-align: right;
  }
  .removeButton {
    font-size: 11px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .productImage {
    width: 11vw;
    height: 11vw;
    justify-content: left;
  }
}

/*
End of the responsive font sizing
*/

input.productQuantityInput {
  border-style: none;
  text-align: center;
  /* width: 80px; */
  background-color: whitesmoke;
}
div.productQtyInputContainer {
  text-align: center;
}

div.incrementBtnContainer,
div.decrementBtnContainer {
  text-align: center;
}

button.incrementBtn,
button.decrementBtn {
  background-color: transparent;
  border-style: none;
}

.cartComponentContainer {
  margin: 15px 2px 5px 2px;
}
.productUnitPriceContainer {
  background-color: whitesmoke;
  text-align: center;
}
.productSubtotalContainer {
  background-color: whitesmoke;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: white;
  text-align: center;
}
div.prodQtyContainer {
  text-align: center;
  height: inherit;
}

div.productQtyContainer {
  background-color: whitesmoke;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: white;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: white;
  text-align: center;
}
.productAndNameSection {
  background-color: whitesmoke;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: transparent;
}
.productName {
  padding-top: 15px;
  text-align: center;
}
.productNameBox {
  padding-left: 15px;
  padding-top: 0px;
  margin-top: 0px;
}
div.productImageBox {
  justify-content: flex-start;
}
.removeButton {
  color: #ff0000;
  font-weight: bold;
  border-style: none;
  background-color: transparent;
}
.productUnitPrice,
.productSubtotal,
.productQtyInput {
  margin-top: 35px;
}
.removeButtonContainer {
  margin-top: 10px;
  text-align: center;
}
