@media (max-width: 976px) {
  .addressDetailsTextHeader,
  .deliveryMethodHeaderText,
  .editButton {
    font-size: 11px;
  }

  .residentialAddress-checkout,
  .cityAndRegion-checkout,
  .phoneNumber-checkout {
    font-size: 11px;
  }
  .customerName-checkout {
    font-size: 11px;
    font-weight: bolder;
  }

  .deliveryMethodInstructionMessage {
    font-size: 13px;
  }

  .methodOneSection,
  .methodTwoSection {
    font-size: 11px;
  }
  input#pickUpMethodOne,
  input#pickUpMethodTwo {
    width: 11px;
    margin-top: 7px;
  }
  p.methodDescription,
  div.methodDescription {
    font-size: 10px;
  }
  .subTotalText,
  .deliveryFeesText,
  .totalText {
    font-size: 11px;
  }
  .subTotalFigure,
  .deliveryFeesFigure,
  .totalFigure {
    font-size: 11px;
  }
}

.checkoutMainContainer {
  padding: 5% 0%;
}

.addressDetailContainer,
.deliveryMethodContainer {
  margin-bottom: 3%;
  border-radius: 4px;
  padding: 2%;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}
.editButtonContainer {
  text-align: right;
}
.editButton {
  background-color: transparent;
  color: forestgreen;
  border-style: none;
  font-weight: bold;
}
.addressDetailsHeader,
.deliveryMethodHeader {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
  margin: 0% 0.5%;
}
.theAddressDetailsContainer,
.deliveryMethodDetailsContainer {
  margin-left: 2%;
}
.customerName-checkout {
  font-weight: bold;
}
.methodOneSection {
}
.methodDescription {
  margin-left: 2%;
  color: gray;
}
.itemSummationContainer {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end; */
}
.subTotalFigure,
.deliveryFeesFigure,
.totalFigure {
  color: forestgreen;
  font-weight: bolder;
  text-align: right;
}

.subTotalText,
.deliveryFeesText,
.totalText {
  color: black;
  font-weight: 600;
  margin-right: 16px;
  text-align: right;
}
.confirmButton {
  background-color: forestgreen;
  color: white;
  width: 27%;
  border-radius: 5px;
  border-style: none;
}
