@media (max-width: 768px) {
  img.profileImage {
    width: 110px;
    height: 110px;
    border-radius: 5px;
    text-align: center;
  }
  div.chooseImgButtonContainer {
    padding-top: 65px;
  }
}

.firstLevelContainer {
  /* position: absolute; */
  /* left: 25%; */

  margin: 10px 0px;
}
.theMainContainer {
  padding: 0.7vw 0.4vw;
  background-color: white;
}
.firstAndOtherNamesContainer {
}
input.firstNameInput {
  border-style: solid;
  border-color: "#eee";
  border-radius: 5px;
  border-width: 1px;
  padding: 2px 4px;

  font-size: 15px;
}
input.otherNamesInput {
  border-style: solid;
  border-color: "#eee";
  border-radius: 5px;
  border-width: 1px;
  padding: 2px 4px;
  font-size: 15px;
}

.emailInput,
.phoneNumberInput,
.confirmPasswordInput,
.passwordInput {
  border-style: solid;
  border-color: "#eee";
  border-radius: 5px;
  border-width: 1px;
  padding: 2px 4px;
  font-size: 15px;
}

.emailAndPhoneNumberContainer {
}

.emailContainer {
  margin-right: 3%;
}
#emailInputId {
}
#phoneNumberInputId {
}
.passwordContainer {
  margin-bottom: 2%;
}

.confirmPasswordContainer {
  margin-bottom: 2%;
}

.registerButtonContainer {
  margin-top: 1%;
  margin-bottom: 5%;
}

.registerButton {
  padding: 0px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #076f1d;
  border-radius: 3px;
  background-color: transparent;
}
.registerButton:hover,
.registerButton:active,
.registerButton:focus {
  border-style: none;
  border-radius: 3px;
  background-color: #076f1d;
  color: white;
}

.chooseImgButton {
  /* margin-top: 2.5%; */
  border-style: none;
  background-color: antiquewhite;
  padding: 0.5% 0%;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
}
.chooseImgButton:hover {
  background: #1bbc1b;
}

.profileImgSection {
  padding: 0px 10px;
}
.profileImgContainer {
}
.chooseImgButtonContainer {
  padding-top: 125px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  text-align: center;
}
.accntInfoText,
.passwordDetailsText {
  margin-top: 15px;
  margin-bottom: 5px;
  color: black;
  font-weight: bolder;
}
