@import url("https://fonts.googleapis.com/css2?family=Amita&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}

.title {
  color: #0e0b0c;
  text-align: center;
  font-size: 20px;
  margin: 1vh 0vh;
  font-family: "Amita", cursive;
  text-transform: capitalize;
}

/*Name and phone number*/
.firstAndOtherNamesContainer,
.phoneNumberAndGhPostGpsContainer,
.residentialAddressMainContainer-CustomerProfile,
.cityAndRegionContainer {
}

/*GPS and location*/

.firstNameContainer-CustomerProfile,
.phoneNumberContainer-CustomerProfile,
.cityContainer-CustomerProfile {
}
.otherNamesContainer-CustomerProfile,
.ghPostGpsContainer-CustomerProfile,
.regionContainer-CustomerProfile {
}

.phoneNumberInput-CustomerProfile {
}

.residentialAddressInput-CustomerProfile {
}
.ghPostGpsInput-CustomerProfile,
.residentialAddressInput-CustomerProfile,
.cityInput-CustomerProfile,
.firstNameInput-CustomerProfile,
.otherNamesInput-CustomerProfile,
.phoneNumberInput-CustomerProfile,
.cityInput-CustomerProfile {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
  color: black;

  /* width: inherit; */
}

select.regionInput-CustomerProfile {
  background-color: transparent;
  border-style: none;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
  outline: none;
}

.regionInputContainer-CustomerProfile {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
  padding: 0.4vw 2vw;
  outline: none;
}
.labels-CustomerProfile {
  color: white;
  margin-bottom: 0vh;
}

.residentialAddressContainer-CustomerProfile {
}
/* input.phoneNumberInput-CustomerProfile {
  width: inherit;
} */

select.regionInput-CustomerProfile {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}
.submit {
  margin-top: 4vh;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(to right, #262927, #101310);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
button:active {
  transform: translateY(2px);
}
