@import url("https://fonts.googleapis.com/css2?family=Amita&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}

.title-CustAddress {
  color: #0e0b0c;
  text-align: center;
  font-size: 25px;
  margin: 20px 0px;
  font-family: "Amita", cursive;
  text-transform: capitalize;
}

/*Name and phone number*/
.firstAndOtherNamesContainer-CustAddress,
.phoneNumberAndGhPostGpsContainer-CustAddress,
.cityAndRegionContainer-CustAddress {
  padding: 10px 0px;
}

/*GPS and location*/

.firstNameContainer-CustAddress,
.phoneNumberContainer-CustAddress,
.cityContainer-CustAddress {
}
.ghPostGpsInput-CustAddress,
.residentialAddressInput-CustAddress,
.cityInput-CustAddress,
.firstNameInput-CustAddress,
.otherNamesInput-CustAddress,
.phoneNumberInput-CustAddress,
.cityInput-CustAddress,
.regionInput-CustAddress {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: white;
  font-size: 18px;
  color: black;
}
.labels-CustAddress {
  color: white;
  font-size: 16px;
  margin-bottom: 0px;
}
div.residentialAddressInput-CustAddress {
}
div.phoneNumberInput-CustAddress {
}
.regionInput-CustAddress {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}
.submit {
  /* display: flex;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 10px 60px;
  background: linear-gradient(to right, #262927, #101310);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s; */
}
button:active {
  transform: translateY(2px);
}
