@import url("https://fonts.googleapis.com/css2?family=Amita&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}

.title {
  color: #0e0b0c;
  text-align: center;
  font-size: 30px;
  margin: 20px 0px;
  font-family: "Amita", cursive;
  text-transform: capitalize;
}

/*Name and phone number*/
.firstAndOtherNamesContainer,
.phoneNumberAndGhPostGpsContainer,
.residentialAddressMainContainer-CustomerProfile,
.cityAndRegionContainer {
  padding: 10px 0px;
}

/*GPS and location*/

.firstNameContainer-CustomerProfile,
.phoneNumberContainer-CustomerProfile,
.cityContainer-CustomerProfile {
  padding-right: 5px;
  width: inherit;
}
.otherNamesContainer-CustomerProfile,
.ghPostGpsContainer-CustomerProfile,
.regionContainer-CustomerProfile {
  width: inherit;
}

input.phoneNumberInput-CustomerProfile {
  width: inherit;
  padding-right: 5px;
}

input.residentialAddressInput-CustomerProfile {
  width: inherit;
}
input.ghPostGpsInput-CustomerProfile,
input.residentialAddressInput-CustomerProfile,
input.cityInput-CustomerProfile,
input.firstNameInput-CustomerProfile,
input.otherNamesInput-CustomerProfile,
input.phoneNumberInput-CustomerProfile,
input.cityInput-CustomerProfile,
select.regionInput-CustomerProfile {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;

  /* width: inherit; */
}
.labels-CustomerProfile {
  color: white;
}

.residentialAddressContainer-CustomerProfile {
}
/* input.phoneNumberInput-CustomerProfile {
  width: inherit;
} */

select.regionInput-CustomerProfile {
  width: inherit;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}
.submit {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 10px 60px;
  background: linear-gradient(to right, #262927, #101310);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* margin: auto; */
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
button:active {
  transform: translateY(2px);
}
