@import url("https://fonts.googleapis.com/css2?family=Amita&family=Roboto:wght@100&display=swap");

/* * {
  margin: 0;
  padding: 0;
} */

.customerDetailsTitle {
  color: #0e0b0c;
  text-align: center;
  margin: 20px 0px 20px 0px;
  font-family: "Amita", cursive;
  text-transform: capitalize;
}
/*Name and phone number*/
.name-group {
  display: flex;
}
.labe {
  margin-right: 55px;
}
.name-input {
  height: 35px;
  width: 30px;
  margin-bottom: 15px;
}
.num-input {
  height: 35px;
  width: 15rem;
  margin-bottom: 15px;
}
.labi {
  margin-right: 24px;
  margin-left: 10px;
}
/*GPS and location*/
.number-group {
  display: flex;
}
.labell {
  margin-right: 5px;
}
.numb-input {
  height: 35px;
  margin-bottom: 15px;
}
.customerDetailsInput {
  height: 35px;
  margin-bottom: 15px;
}
/*land mark and region*/
.location-group {
  display: flex;
}
.labelled {
  margin-right: 50px;
}
.labs {
  margin-left: 10px;
  margin-right: 88px;
}

.lab {
  margin-left: 10px;
  margin-right: 5px;
}

.customerDetailsSubmit {
  display: flex;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 10px 60px;
  background: linear-gradient(to right, #262927, #101310);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* margin: auto; */
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
button:active {
  transform: translateY(2px);
}
