.menuBar {
  height: 12vh;
  background-color: black;
}

.dashboardButtonSection {
  height: 78vh;
  background-color: #838282;
}
.profileSection {
  height: 12vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 5px;
}
.profileSectionContainer {
  background-color: #cbcaca;
}

/* .logo {
  width: 50px;
  height: 50px;
} */

.userWelcome {
  font-size: 25px;
  font-weight: 500;
}
.profileWelcomeMessage {
  padding-left: 15px;
}
.userImage {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

.dashboardButtons,
#inactive {
  width: 16vw;
  background-color: transparent;
  border-style: none;
  border-bottom-width: 1px;
  border-top-width: 1px;
  margin: 2px 5px;
  color: black;
  text-align: left;
  padding: 5px 0px 5px 10px;
}
.dashboardButtons:focus,
.dashboardButtons:active,
.dashboardButtons:hover,
#active {
  background-color: #8b0000;
  color: white;
  border-bottom-style: solid;
  border-bottom-color: #8b0000;
  border-bottom-width: 1px;
}

.workspace {
  background-color: #a7a7a7;
}
