@media (max-width: 768px) {
  div.orderId-deliveryComponent,
  div.products-deliveryComponent,
  div.location-deliveryComponent,
  div.customer-deliveryComponent,
  div.amount-deliveryComponent,
  div.delivery-deliveryComponent {
    font-size: 0.8vw;
  }
  .viewMoreButton-deliveryComponent {
    font-size: 0.8vw;
  }
}

.deliveryComponentMainContainer {
  background-color: rgba(218, 217, 216, 0.459);
}

.orderId-deliveryComponent {
  font-size: 1vw;
  padding: 0.2vw;
}

.products-deliveryComponent {
  font-size: 1vw;
  padding: 0.2vw;
  text-overflow: ellipsis;

  overflow: hidden;
}

.delivery-deliveryComponent {
  font-size: 1vw;
  padding: 0.2vw;
  color: forestgreen;

  /* text-overflow: ellipsis;

  overflow: hidden; */
}

.location-deliveryComponent {
  font-size: 1vw;
  padding: 0.2vw;
}

.customer-deliveryComponent {
  font-size: 1vw;
  padding: 0.2vw;
}

.amount-deliveryComponent {
  font-size: 1vw;
  padding: 0.2vw;
}

.viewMoreButton-deliveryComponent {
  font-size: 1vw;
}
