@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@100&display=swap");

@media (max-width: 768px) {
  div.deliveryScreenHeaderId,
  div.deliveryScreenHeaderProducts,
  div.deliveryScreenHeaderCustomer,
  div.deliveryScreenHeaderLocation,
  div.deliveryScreenHeaderAmount,
  div.deliveryScreenHeaderDelivery {
    font-size: 4px;
  }
}

.container-fluid {
  font-family: "Roboto", sans-serif;
}

#edit {
  text-transform: capitalize;
}

.deliveryHeaderContainer {
  /* padding: 4px 0px; */
}

.deliveryScreenHeaderId {
  font-size: 13px;
  font-weight: bolder;
  text-align: left;
}

.deliveryScreenHeaderProducts {
  font-size: 13px;
  font-weight: bolder;
  text-align: left;
}

.deliveryScreenHeaderCustomer {
  font-size: 13px;
  font-weight: bolder;
  text-align: left;
}

.deliveryScreenHeaderAmount {
  font-size: 13px;
  font-weight: bolder;
  text-align: left;
}

.deliveryFilterSection {
  height: fit-content;
  padding: 10px 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}

div.deliveryFilterButtonContainer {
  padding-top: 20px;
}
.filterSection {
  height: fit-content;
  padding: 10px 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}

div.filterButtonContainer {
  padding-top: 20px;
}
.filterButton {
  width: fit-content;
  padding: 2px 10px;
  background-color: #40f167;
  border-style: none;
  color: black;
  text-align: center;
}

.paymentScreenBackButtonContainer {
  text-align: right;
  padding-top: 18px;
}

.headerIndexAndIdContainer {
  display: flex;
  flex-direction: row;
  width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

.deliveryScreenBackButton {
  background-color: transparent;
  border-style: none;
}
.deliveryFilterButton {
  width: fit-content;
  padding: 2px 10px;
  background-color: #40f167;
  border-style: none;
  color: black;
  text-align: center;
}

.deliveryScreenBackButtonContainer {
  text-align: right;
  padding-top: 18px;
}
.headerSection {
  height: fit-content;
  margin-bottom: 15px;
  padding: 0px 12px;
}

.deliveryScreenHeaderLocation {
  font-weight: bold;
  font-size: 14px;
  /* text-overflow: ellipsis;
  overflow: hidden;
  background-color: blue; */
}

.deliveryScreenHeaderDelivery {
  font-weight: bold;
  font-size: 14px;
}

.headerAmount {
  font-weight: bold;
  font-size: 14px;
  /* width: inherit;
  text-overflow: ellipsis;
  overflow: hidden; */
}
.headerTime {
  font-weight: bold;
  font-size: 14px;
}
.paymentScreenBackButton {
  background-color: transparent;
  border-style: none;
}
