@media (max-width: 976px) {
  div.orderIdDeliveryComponent-Customer,
  .productNameDeliveryComponent-Customer,
  .deliveryDeliveryComponent-Customer,
  .amountDeliveryComponent-Customer {
    font-size: 1.5vw;
  }
}

button.recieveButtonDeliveryComponent-Customer {
  color: white;
  background-color: transparent;
  border-style: none;

  border-radius: 3px;
}
.receiveProductButton {
  font-size: 1.5vw;
  color: gray;
  margin-top: 0vw;
}
