.editContainer {
  /* background: gray; */
  align-items: center;
  margin-bottom: 3.5rem;
}
.image-section {
  background-color: #2d3551;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.product-row {
  margin: 30px;
}
.form-input {
  /* margin-top: 10px; */
  background: #84f39c;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* height: 29rem;
  width: 23rem; */
}
.form-input[type="text"],
[type="number"],
textarea {
  background: rgb(204, 188, 188);
}
#pname {
  background: rgb(204, 188, 188);
}
.editLabel {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 0px;
  color: rgb(41, 8, 230);
}
.editInput {
  margin-bottom: 15px;
}

.btn {
  width: 240px;
}
.btn:hover {
  background: #000;
}
