.editContainer {
  /* background: gray; */

  margin-bottom: 3.5rem;
}
.image-section {
  background-color: #2d3551;
}
.product-row {
  margin: 5% 0%;
}
.form-input {
  background: #84f39c;
}
.form-input[type="text"],
[type="number"],
textarea {
  background: rgb(204, 188, 188);
}
#pname {
  background: rgb(204, 188, 188);
}
.editLabel {
  font-size: 12px;
  font-weight: bolder;
  margin-bottom: 0px;
  color: black;
}
.editInput {
  margin-bottom: 2%;
  font-size: 12px;
  padding: 1%;
}

.btn {
  width: 240px;
}
.btn:hover {
  background: #000;
}
.image-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selectImg-EditProduct {
  background-color: white;
  margin-top: 15px;
  padding: 1px 10px;
  border-radius: 3px;
}

.selectImg-EditProduct:hover,
.selectImg-EditProduct:active {
  background-color: green;
  color: white;
}
