div.footerContainer {
  height: fit-content;
  background-color: #343a40;
  padding: 8px 0px;
}

.copyrightInfo {
  font-size: 12px;
  color: #cccccc;
  text-align: center;
}
.secondaryHeaderContainer {
  height: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.socialMediaContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialMedia {
  margin-right: 10px;
}
