.mainContainerForgotPass {
  background: linear-gradient(135deg, #98d8a6, #56be6c);
  width: 100%;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh !important;
}

.emailLabel {
  width: 100%;
  margin-top: 0.4rem;
  display: flex;
  color: #fff !important;
  justify-content: left !important;
}

.emailInput {
  height: 32px;
  font-size: 16px;
  outline: none;
  width: 120%;
  background: lightgray;
  border-radius: 5px;
  border-bottom-style: 2px solid #000;
  margin-bottom: 10px;
  margin-left: 0 !important;
  color: #000;
}

.submitReset {
  display: flex;
  text-transform: uppercase;
  width: 150px;
  font-size: 18px;
  border-radius: 7px;
  color: #fff;
  font-weight: bold;
  padding: 5px 50px;
  background: linear-gradient(to right, #262927, #101310);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-left: 60px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
