@media (max-width: 768px) {
  div.receiptTransactionIdLabel-orderDetails,
  div.receiptCustomerLabel-orderDetails,
  div.receiptDateLabel-orderDetails,
  div.receiptContactLabel-orderDetails,
  div.receiptStatusLabel-orderDetails {
    font-size: 7px;
  }
  div.receiptTransactionIdText-orderDetails,
  div.receiptCustomerText-orderDetails,
  div.receiptContactText-orderDetails,
  div.receiptDateText-orderDetails {
    font-size: 6px;
  }
  div.receiptStatusText-orderDetails {
    font-size: 6px;
  }
  div.receiptHeadingText-orderDetails {
    font-weight: bolder;
    font-size: 7px;
  }
  div.receiptItemText-orderComponent {
    font-size: 7px;
  }
  div.receiptTotalLabel-orderDetails,
  div.receiptTotalText-orderDetails {
    font-size: 7px;
  }
}

.receiptSheet-orderDetails {
  background-color: white;
  width: inherit;
  margin-top: 3%;
  padding: 20px 15px;
  box-shadow: 5px 5px 5px rgba(12, 12, 12, 0.397);
}

div.receiptHeader-orderDetails {
  margin: 5px 0px;
  padding: 5px 0px;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
  border-bottom-style: double;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

div.receiptTransactionIdContainer-orderDetails,
div.receiptCustomerContainer-orderDetails,
div.receiptContactContainer-orderDetails,
div.receiptDateContainer-orderDetails {
}

.receiptTransactionIdLabel-orderDetails,
.receiptCustomerLabel-orderDetails,
.receiptDateLabel-orderDetails,
.receiptContactLabel-orderDetails {
  font-weight: bolder;
  margin-right: 4px;
  font-size: 15px;
}

.receiptTransactionIdText-orderDetails,
.receiptCustomerText-orderDetails,
.receiptContactText-orderDetails,
.receiptDateText-orderDetails {
  font-size: 15px;
}

.receiptStatusText-orderDetails {
  font-size: 14px;
  color: forestgreen;
  font-weight: bolder;
}

.receiptStatusLabel-orderDetails {
  font-weight: bolder;
}

.receiptContactText-orderDetails {
  font-size: 15px;
}

.receiptItemText-orderComponent {
  font-size: 15px;
}
.receiptHeadingText-orderDetails {
  font-weight: bolder;
  font-size: 15px;
}
.receiptTotalContainer-orderDetails {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  margin-top: 5px;
  padding-bottom: 10px;
}
.receiptTotalLabel-orderDetails {
  font-weight: bolder;
  text-align: right;
}
