@media (max-width: 768px) {
  div.Index-PayComponent,
  div.PaymentId-PayComponent,
  div.Customer-PayComponent,
  div.Amount-PayComponent,
  div.Time-PayComponent {
    font-size: 6px;
  }
  button.viewMore-PayComponent {
    width: inherit;
  }
}

.componentContainer-PayComponent {
  background-color: #b6b5b5;
}
.paymentComponent-PayComponent {
  height: fit-content;
  padding: 2px 0px;
}
.Index-PayComponent {
  padding-right: 6px;
  text-align: left;
}

.headerIndexAndIdContainer-PayComponent {
  display: flex;
  flex-direction: row;
  width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}
.PaymentId-PayComponent {
  text-align: left;
}

.Customer-PayComponent {
}

.Amount-PayComponent {
}
.Time-PayComponent {
}
