@media (max-width: 768px) {
  div.headerIndex,
  div.headerPaymentId,
  div.headerCustomer,
  div.headerAmount,
  div.headerTime {
    font-size: 5px;
    padding-top: 5px;
  }
}

.filterSection {
  height: fit-content;
  padding: 10px 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}
.dateFilter {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; */
}
div.filterButtonContainer {
  padding-top: 20px;
}
.filterButton {
  width: fit-content;
  padding: 2px 10px;
  background-color: #40f167;
  border-style: none;
  color: black;
  text-align: center;
}

.paymentScreenBackButtonContainer {
  text-align: right;
  padding-top: 18px;
}
div.headerSection {
  height: fit-content;
  /* margin-bottom: 15px; */
}

.headerIndexAndIdContainer {
  /* display: flex;
  flex-direction: row;
  width: inherit;
  text-overflow: ellipsis;
  overflow: hidden; */
}
.headerIndex {
  font-weight: bold;
  padding-right: 8px;
  text-align: left;
  padding-left: 1px;
  font-size: 14px;
}
.headerPaymentId {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.headerCustomer {
  font-weight: bold;
  font-size: 14px;
  width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.headerAmount {
  font-weight: bold;
  font-size: 14px;
  width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}
.headerTime {
  font-weight: bold;
  font-size: 14px;
}
.paymentScreenBackButton {
  background-color: transparent;
  border-style: none;
}
