.componentContainer-PayComponent {
  background-color: #b6b5b5;
}
.paymentComponent-PayComponent {
  height: fit-content;
  padding: 3px 0px;
}
.Index-PayComponent {
  padding-right: 6px;
  text-align: left;
}

.headerIndexAndIdContainer-PayComponent {
  display: flex;
  flex-direction: row;
  width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}
.PaymentId-PayComponent {
}

.Customer-PayComponent {
}

.Amount-PayComponent {
}
.Time-PayComponent {
}
