div.arrayOfProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.addProductButton,
#inactivebtn {
  background-color: transparent;
  border-style: solid;
  padding: 2% 3%;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
}
.backButton {
  background-color: transparent;
  border-style: none;
  padding: 2% 3%;
  border-color: black;
}
.backButtonContainer {
  text-align: right;
}
.addProductButton:hover,
#activebtn {
  color: white;
  border-color: white;
}

/*Delete Dialog Box */
div.dialogBoxMainContainer {
  position: absolute;
  top: 14%;
  width: 1010px;
  height: 580px;
  background-color: rgba(165, 42, 42, 0);
}
.dialogBox {
  position: relative;
  top: 30%;
  left: 5%;
}
.dialogBoxContainer {
  width: fit-content;
  height: 20vh;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 25%;
  left: 35%;
}
.headerContainer {
  font-size: 18px;
  text-transform: uppercase;

  color: rgb(2, 87, 16);
  font-weight: bolder;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd;
  margin-bottom: 7px;
}
div.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.yesButton-dashboard {
  font-size: 15px;
  border-style: none;
  background-color: limegreen;
  padding: 0px 4px;
  margin-right: 5px;
}

.noButton-dashboard {
  font-size: 15px;
  border-style: none;
  background-color: rgb(189, 3, 3);
  padding: 0px 4px;
  color: white;
}

.messageContainer {
  margin: 10px 3px;
  padding: 10px 2px;
}
