.dashboardProductContainer {
  width: fit-content;
  height: fit-content;
  background-color: white;
  margin: 10px 15px;
  padding: 3px;
}
.dashboardProductImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboardProductImage {
  width: 225px;
  height: 200px;
  padding: 2px;
}

.editAndDeleteButtonContainer {
  border-top-style: solid;
  border-color: gray;
  border-top-width: 1px;
  width: 225px;
  margin: 0px 0.2px;
}

.editButtonContainer,
.deleteButtonContainer {
}
.deleteButton,
.editButton {
  height: fit-content;
  border-style: none;
  background-color: transparent;
}
.deleteButton:hover {
  color: tomato;
}
.editButton:hover {
  color: #006400;
}
.nameAndPriceContainer {
  width: 250px;
}

.dashboardProductName {
  font-size: 15px;
  font-weight: bold;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 17px;
}
.dashboardProductPrice {
  font-size: 14px;
  font-weight: bolder;
  padding-left: 17px;
}
