.shopPageProductContainer {
  margin: 15px 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
}

img.productImageShopPage {
  padding: 5px;
}
div.addToCartButton {
  background-color: #84f39c;
  color: black;
  border-style: none;
  width: 100%;
}

/* .productImage {
  width: 100px;
  height: 100px;
} */

.shopPageProductImageBox {
}

div.shopPageProductContainer:hover {
  background-color: #eeeeee;
}
div.productNameShopPage {
  width: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 5px;
  margin: 25px 10px 4px 4px;
  font-weight: 700;
  font-size: 1em;
}

div.priceAndProductBox {
  padding: 0px 4px;
  margin-bottom: 10px;
}
div.priceText {
  font-size: 14;
  font-weight: bold;
  color: #007bff;
}

.addToCartButtonShopPage {
  border-style: none;
  background-color: transparent;
}

.addToCartButtonBox {
  text-align: right;
}
