/* div.arrayOfProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

@media (max-width: 768px) {
  .addProductButton {
    font-size: 1.4vw;
    padding: 0.2vw;
  }
}

.addProductButtonContainer-addProducts {
  text-align: left;
  margin: 5px 0px;
}

.productScreenMainContainer {
  margin: 0px 10px;
}

.addProductButton,
#inactivebtn {
  background-color: transparent;
  border-style: solid;
  padding: 2% 3%;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
}
.backButton {
  background-color: transparent;
  border-style: none;
  padding: 2% 3%;
  border-color: black;
}
.backButtonContainer {
  text-align: right;
}
.addProductButton:hover,
#activebtn {
  color: white;
  border-color: white;
}

/*Delete Dialog Box */
div.dialogBoxMainContainer {
  position: absolute;
  top: 14%;
  width: 1010px;
  min-height: 470px;
  max-height: inherit;
  background-color: rgba(165, 42, 42, 0);
}
.dialogBox {
  position: relative;
  top: 30%;
  left: 5%;
}
.dialogBoxContainer {
  width: fit-content;
  min-height: 20vh;
  background-color: white;
  max-height: fit-content;

  border-radius: 5px;
  position: absolute;
  top: 20%;
  /* left: 35%; */
}
.deleteDialogButtonContainer {
  padding-right: 17px;
}
.headerContainer {
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 8px;
  color: rgb(2, 87, 16);
  font-weight: bolder;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd;
  margin-bottom: 7px;
}
div.deleteDialogButtonsContainer {
  /* display: flex;
  flex-direction: row;
  justify-content: right; */
}
.noButtonContainer-dashboard,
.yesButtonContainer-dashboard {
  text-align: center;
  padding: 4px;
}
.yesButton-dashboard {
  font-size: 15px;
  border-style: none;
  background-color: limegreen;
  padding: 0px 4px;
}

.noButton-dashboard {
  font-size: 15px;
  border-style: none;
  background-color: rgb(189, 3, 3);
  padding: 0px 4px;
  color: white;
}

.messageContainer {
  padding: 21px 5px;
}
