@media (max-width: 768px) {
  .text {
    font-size: 16px;
  }
  label.registerLabel {
    font-size: 7px;
  }
  button.registerSubmitBtn {
    font-size: 9px;
    padding: 4px 5px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.registerSecondContainer {
  margin: 20px 0px;
  padding: 20px 15px;
}
div.registerInputAndTextContainer {
  margin-bottom: 10px;
}
.registerSubmitBtnContainer {
  margin-bottom: 20px;
  margin-top: 20px;
}

.firstAndOtherNamesBox {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
}

.registerSubmitBtn {
  font-size: 15px;
  border-radius: 7px;
  color: #fff;
  font-weight: bold;
  padding: 4px 30px;
  background: linear-gradient(to right, #64b375, #1bdd45);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  border-style: none;
  cursor: pointer;
  transition: all 0.1s;
}
button.registerSubmitBtn:active {
  transform: translateY(2px);
}

.form-success {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color: #dd1b6c;
}

.registerLabel {
  color: white;
  font-size: 15px;
  margin-bottom: 0px;
}
.haveAccountText {
  color: white;
  font-size: 13px;
  text-align: right;
  padding-top: 3px;
}
.otherNamesBox {
}
.passwordBox {
}

. input.firstName_Input {
  /* margin-right: 1%; */
}
input.otherNames_Input {
}
input.email_Input,
input.phoneNumber_Input {
}
input.password_Input {
}

.passwordAndIconBox {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 40px; */
}
