@media (max-width: 768px) {
  div.dashboardUserFullName,
  div.dashboardUserEmail,
  button.adminUserEditButton,
  button.adminUserDeleteButton {
    font-size: 13px;
    width: inherit;
  }
}

.dashboardUserContainer {
  width: inherit;
  height: fit-content;
  background-color: white;
  margin: 8px;
  padding: 0px;
  border-radius: 5px;
}
.adminProfileImageContainer {
}
.adminProfileImage {
  width: 100px;
  height: 100px;
  padding: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.adminUserEditAndDeleteButtonContainer {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  margin-bottom: 0px; */
}

.adminUserEditButton {
  height: fit-content;
  border-style: solid;
  border-width: 1px;
  border-color: #006400;
  background-color: transparent;

  width: inherit;
}
.adminUserDeleteButtonContainer {
  align-items: left;
}
.adminUserDeleteButton {
  width: inherit;
  height: fit-content;
  border-style: solid;
  border-width: 1px;
  border-color: tomato;
  background-color: transparent;
}
.adminUserDeleteButton:hover {
  background-color: tomato;
  color: white;
}
.adminUserEditButton:hover {
  background-color: #006400;
  color: white;
}
.userDetailsContainer {
  width: inherit;

  padding-right: 4px;
}

.dashboarduserName {
  font-size: 15px;
  font-weight: bold;
  width: inherit;
}
.dashboardUserEmail {
  font-size: 15px;
  font-weight: bolder;
  width: inherit;
}
.dashboardUserPhone {
  font-size: 15px;
  font-weight: bolder;
}
