@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.userProfileContainer {
  /* background-color: rgb(110, 103, 103); */
  font-family: "Roboto", sans-serif;
}

.welcomeTextAndUserContainer {
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}
.welcomeText {
  /* margin-top: 15px;
  margin-bottom: 15px; */
  color: rgb(25, 0, 255);
  font-weight: bold;
  text-align: right;
  font-size: 20px;
  margin-right: 0vh;
}

.welcomeUser {
  /* margin-top: 15px;
  margin-bottom: 15px; */
  color: black;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  margin-left: 0vh;
}

.entries {
  color: rgb(41, 38, 38);
  font-weight: bold;
  text-transform: capitalize;
}

.theButtonsContainer {
  text-align: center;
  margin-bottom: 10px;
}
.theButtonsMainContainer {
  text-align: center;
}
.new {
  align-content: center;
}

.pro-edit,
.pro-editt {
  background-color: transparent;
  font-weight: normal;
  color: gray;
  font-size: 14px;
  border-style: none;
}
button#on:active,
button#on:hover,
button#off:hover,
button#on {
  background-color: transparent;
  font-weight: bolder;
  color: green;

  border-style: none;
}
